[Unit]
Description=ActionPi
DefaultDependencies=false   

[Service]
Type=simple
ExecStart=/bin/bash -c "cd /root && python3 action.py"

[Install]
WantedBy=local-fs.target
