[Unit]
Description=ActionPi
DefaultDependencies=false   

[Service]
Type=simple
ExecStart=/bin/bash -c "cd /home/action && python action.py"

[Install]
WantedBy=local-fs.target
